

.homeView {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    outline: 1px solid red;
    /* background: red; */
    /* justify-content: center; */
}

.mainTxtBG {
    position: relative;
    left: .5rem;
    top: 3rem;
    color: #2c343a;
    /* height: 100%; */
    /* width: 100%; */
    font-family: 'Titillium Web';
    /* text-align: center; */
    font-size: 4.8rem;
    letter-spacing: 2px;
    font-weight: 800;
    /* outline: 1px solid red; */
}

.welcomeTxt-DetailsCntr {
    position: relative;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web';
    /* font-size: 30px; */
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: 1px;
    /* outline: 1px solid red; */
}

.welcomeTxt {
    position: relative;
    bottom: 3.2rem;
    left: 1rem;
    width: 90%;
    opacity: 0;
    /* font-size: 28px; */
    /* outline: 1px solid blue; */
}

.welcomeTxt p:nth-child(2) {
    position: relative;
    bottom: 4rem;
    /* color: red; */
}

.homeViewDetails {
    position: relative;
    bottom: 13.5rem;
    left: 1rem;
    width: 90%;
    opacity: 0;
    /* outline: 1px solid magenta; */
    height: 6rem;
}

.homeViewBtns {
    position: relative;
    bottom: 7rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    /* outline: 1px solid red; */
} 

.viewWorkBtn, .contactMeBtn {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 18px 30px;
    text-align: center;
    outline: 3px solid white;
    cursor: pointer;
}

.contactMeBtn {
    padding: 18px 28px;
}

.viewWorkBtn:hover, .contactMeBtn:hover {
    background: white;
    color:#2c343a;
    transition: .1s linear; 
}

.viewWorkBtn:active, .contactMeBtn:active {
    background: none;
    color: white;
    transition: none;
}

.spiralCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    /* pointer-events: none; */
    margin: auto;
    z-index: 2;
    outline: 1px solid magenta;
}
