@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@400;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Inconsolata';
}

.container {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  width: 100vw;
  background: #1c1d21;
  color: #f1faee;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* -- NAV BAR STYLES -- */

.nav-bar {
  position: fixed;
  height: 4.5rem;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  background: #333437;
  opacity: .5;
  z-index: 1;
  justify-content: space-between;
  /* outline: 1px solid red; */
  transition: .5s linear;
}

.nav-bar:hover {
  opacity: 1;
  transition: .5s linear;
}

.nav-bar.active {
  opacity: 1;
  transition: .5s linear;
}

.mainLogo {
  position: relative;
  left: 5px;
  width: 40%;
  /* outline: 1px solid red; */
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 23px;
  line-height: 22px;
  letter-spacing: 3px;
  opacity: 1;
  pointer-events: none;
  animation: mainLogoShow 1s 1;
}

@keyframes mainLogoDel {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.mainLogo.active {
  opacity: 0;
  pointer-events: all;
  animation: mainLogoDel 1s 1;
}

@keyframes mainLogoShow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.nav-barBtns {
  position: relative;
  right: 15px;
  width: 45%;
  display: flex;
  justify-content: space-between;
  /* outline: 1px solid red; */
}

.aboutBtn, .contactBtn {
  font-size: 18px;
  font-weight: 600;
  padding: 2px 5px;
  letter-spacing: 1px;
  cursor: pointer;
  /* outline: 1px solid red; */
}

.aboutBtn:hover, .contactBtn:hover {
  color: #bbadff;
  box-shadow: 0px -2px 0px #bbadff;
  transition: .3s linear;
}

.aboutBtn:active, .contactBtn:active {
  box-shadow: none;
  background: rgba(241, 250, 239, .5);
  border-radius: 2px;
  transition: .2s linear;
}

/* -- HOME VIEW TEXT */

.homeView{
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid red;
  /* padding-bottom: 20rem;  */
}

.homeText {
  position: relative;
  top: 20%;
  width: 90%;
  height: 10rem;
  font-family: "Bebas Neue";
  font-size: 35px;
  letter-spacing: 2px;
  /* font-size: 2rem; */
  /* outline: 1px solid red; */
}

.posText {
  position: relative;
  bottom: 2.5rem;
  /* color: #bbadff; */
  background-image: -webkit-linear-gradient(45deg, #bbadff, #5E5780);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* -- ABOUT VIEW STYLES -- */

.aboutView {
  height: 72rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid blue; 
  padding-top: 2rem;
}

.aboutViewHeading, .contactViewHeading {
  position: relative;
  width: 100%;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Bebas Neue';
  letter-spacing: 5px;
  padding-left: 55px;
  margin-bottom: 3rem;
  opacity: 0;
  /* outline: 1px solid red; */
  /* animation: showElmnt 2s infinite; */
}

.aboutViewHeading.active, .contactViewHeading.active {
  animation: showElmnt 3s 1;
  opacity: 1;
}

@keyframes showElmnt {
  0% {
    opacity: 0;
    right: 2rem;
  }

  50% {
    opacity: 1;
    right: 0;
  }
}

.aboutViewMainInfo {
  position: relative;
  bottom: 20px;
  /* height: 50rem; */
  width: 85%;
  /* line-height: 10px; */
  letter-spacing: 1px;
  opacity: 0;
  /* outline: 1px solid blue; */
}

.aboutViewMainInfo.active {
  animation: showElmnt 4s 1;
  opacity: 1;
}

.porgressBarsCntr {
  width: 85%;
  display: flex;
  flex-direction: column;
  /* outline: 1px solid red; */
}

.HTMLinfoCntr, .CSSinfoCntr, .JSinfoCntr, .ReactinfoCntr, .NodeinfoCntr {
  position: relative;
  height: 4.6rem;
  display: flex;
  opacity: 0;
  /* justify-content: space-between; */
  /* outline: 1px solid blue;  */
}

.HTMLinfoCntr.active {
  animation: showElmnt 4s 1;
  opacity: 1;
}

.CSSinfoCntr.active {
  animation: showElmnt 4.5s 1;
  opacity: 1;
}

.JSinfoCntr.active {
  animation: showElmnt 5s 1;
  opacity: 1;
}

.ReactinfoCntr.active {
  animation: showElmnt 6s 1;
  opacity: 1;
}

.NodeinfoCntr.active {
  animation: showElmnt 8s 1;
  opacity: 1;
}

.HTMLlogo-name, .CSSlogo-name, .JSlogo-name, .Reactlogo-name, .Nodelogo-name {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* outline: 1px solid magenta; */
}

.jsName {
  font-size: 12px;
}

.logo {
  position: relative;
  bottom: 10px;
  font-size: 40px;
  /* height: 80%; */
  /* outline: 1px solid red; */
}

.logo.HTML { color: #e34c26; }

.logo.CSS { color: #264de4; }

.logo.JS {
  font-size: 25px;
  color: #f0db4f;
}

.logo.React { color: #61dbfb; }

.logo.Node { color: #3C873A; }

.progressBar {
  position: relative;
  top: 1.5rem;
  left: .5rem;
  width: 75%;
  height: 40%;
  /* outline: 1px solid yellow; */
  background: #3A3B3E;
  border-radius: 10px;
  overflow: hidden;
}

.HTMLfill, .CSSfill, .JSfill, .Reactfill, .Nodefill {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  /* outline: 1px solid red; */
}

.HTMLfill {
  width: 70%;
  background: #e34c26;
}

.CSSfill {
  width: 60%;
  background: #264de4;
}

.JSfill {
  width: 65%;
  background: #f0db4f;
}

.Reactfill {
  width: 50%;
  background: #61dbfb;
}

.Nodefill {
  width: 20%;
  background: #3C873A;
}

/* -- CONTACT VIEW STYLES -- */

.contactView{
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid blue; 
  padding-top: 2rem;
}

.inputFieldsCntr {
  width: 85%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  /* outline: 1px solid turquoise; */
}

.inputName, .inputEmail, .inputMessage {
  background: none;
  height: 10%;
  margin-bottom: 20px;
  border: none;
  font-size: 15px;
  color: #f1faee;
  padding: 0px 5px;
  outline: 1px solid #3A3B3E;
  border-radius: 5px;
}

.inputMessage {
  padding: 5px;
  font-family: 'inconsolata';
  font-size: 17px;
  /* line-height: 70px; */
  height: 40%;
}

.submitBtn {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 4px;
  padding: 2px 0px;
  outline: 1px solid #3A3B3E;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.submitBtn:hover {
  outline: 1px solid #4E4F51;
  transition: .2s linear;
}

.submitBtn:active {
  transition: .1s linear;
  background: #3a3b3e;
}

.btnCntr {
  width: 100%;
  padding-left: 3.5rem;
}

.githubBtn {
  /* position: relative; */
  /* right: 11rem; */

  font-size: 22px;

  color: #f1faee;
  cursor: pointer;
  /* outline: 1px solid red; */
}

.githubBtn:hover {
  transition: .2s linear;
  color: #4E4F51;
}

.githubBtn:active {
  transition: .2s linear;
  color: #757678;
}

@media screen and (min-width: 400px) {
  .mainLogo {
    left: 15px;
  }

  .nav-barBtns {
    right: 25px;
    width: 35%;
  }

  .btnCntr {
    padding-left: 4rem;
  }
}

@media screen and (min-width: 550px) {
  .mainLogo {
    left: -5px;
    /* outline: 1px solid red; */
  }

  .nav-barBtns {
    width: 30%;
  }

  .homeText {
    top: 10%;
    font-size: 40px;
  }

  .aboutViewHeading, .contactViewHeading {
    letter-spacing: 7px;
    padding-left: 5.5rem;
  }

  .inputFieldsCntr {
    width: 82%;
  }

  .btnCntr {
    padding-left: 6.5rem;
  }

  .githubBtn {
    font-size: 25px;
  }
}

@media screen and (min-width: 800px) {
  .mainLogo {
    left: -15px;
    font-size: 28px;
    /* outline: 1px solid red; */
  }

  .nav-barBtns {
    width: 25%;
    right: 50px;
  }

  .aboutBtn, .contactBtn {
    font-size: 20px;
    padding: 2px 7px;
  }

  .homeText {
    top: 10%;
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 50px;
  }

  .aboutViewHeading, .contactViewHeading {
    letter-spacing: 7px;
    padding-left: 9rem;
  }

  .aboutViewMainInfo {
    width: 82%;
  }

  .porgressBarsCntr {
    position: relative;
    right: 10px;
    /* outline: 1px solid red; */
    width: 75%;
  }

  .inputFieldsCntr {
    width: 78%;
  }

  .btnCntr {
    padding-left: 11.5rem;
  }

  .githubBtn {
    font-size: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .mainLogo {
    left: -50px;
    font-size: 30px;
    letter-spacing: 4px;
    /* outline: 1px solid red; */
  }

  .nav-barBtns {
    width: 18%;
    right: 65px;
  }

  .aboutBtn, .contactBtn {
    /* font-size: 22px; */
    padding: 2px 10px;
  }

  .homeText {
    top: 12%;
    /* font-size: 50px; */
    letter-spacing: 5px;
    /* line-height: 50px; */
  }

  .aboutViewHeading, .contactViewHeading {
    letter-spacing: 7px;
    padding-left: 12.5rem;
  }

  .aboutViewMainInfo {
    /* width: 82%; */
  }

  .porgressBarsCntr {
    /* position: relative; */
    right: 12px;
    /* outline: 1px solid red; */
    width: 73%;
  }

  .inputFieldsCntr {
    width: 70%;
  }

  .btnCntr {
    padding-left: 20.5rem;
  }

  /* .githubBtn {
    font-size: 30px;
  } */
}

@media screen and (min-width: 1200px) {
  .nav-bar {
    height: 5rem;
  }

  .mainLogo {
    left: -60px;
    font-size: 32px;
    letter-spacing: 5px;
    /* outline: 1px solid red; */
  }

  .homeText {
    /* top: 12%; */
    font-size: 55px;
    letter-spacing: 7px;
    /* line-height: 50px; */
  }

  .aboutViewHeading, .contactViewHeading {
    letter-spacing: 10px;
    padding-left: 14rem;
  }

  .aboutViewMainInfo {
    width: 80%;
    font-size: 17px;
  }

  .porgressBarsCntr {
    /* position: relative; */
    right: 12px;
    outline: 1px solid red;
    width: 68%;
  }

  .HTMLinfoCntr, .CSSinfoCntr, .JSinfoCntr, .ReactinfoCntr, .NodeinfoCntr {
    height: 5.2rem;
    outline: 1px solid blue; 
  }

  .jsName { font-size: 15px; }

  .progressBar {
    /* position: relative;
    top: 1.5rem;
    left: .5rem; */
    width: 72%;
    height: 43%;
  }

  .HTMLfill, .CSSfill, .JSfill, .Reactfill, .Nodefill {
    font-size: 19px;
    /* outline: 1px solid red; */
  }

  /* .inputFieldsCntr {
    width: 70%;
  } */

  .inputName, .inputEmail, .inputMessage {
    font-size: 17px;
    padding: 1px 6px;
  }
  
  .inputMessage {
    padding: 7px;
    font-size: 21px;
  }

  .submitBtn {
    font-size: 26px;
    letter-spacing: 8px;
    padding: 4px 0px;
  } 

  .btnCntr {
    position: relative;
    top: 1.5rem; 
    padding-left: 22.7rem;
  }

  .githubBtn {
    font-size: 35px;
  }
}

@media screen and (min-width: 1500px) {

  .nav-barBtns {
    width: 14.2rem;
  }

  .homeText {
    /* top: 12%; */
    font-size: 55px;
    letter-spacing: 7px;
    /* line-height: 50px; */
  }

  .aboutViewHeading, .contactViewHeading {
    letter-spacing: 10px;
    padding-left: 30rem;
  }

  .aboutViewMainInfo {
    width: 65.5rem;
    font-size: 18px;
  }

  .porgressBarsCntr {
    /* position: relative; */
    right: 15px;
    /* outline: 1px solid red; */
    width: 61rem;
  }

  .inputFieldsCntr {
    width: 64rem;
  }

  .inputName, .inputEmail, .inputMessage {
    font-size: 18px;
    padding: 2px 6px;
  }
  
  .inputMessage {
    padding: 7px;
    font-size: 23px;
  }

  .submitBtn {
    font-size: 26px;
    letter-spacing: 8px;
    padding: 5px 0px;
  } 

  .btnCntr {
    position: relative;
    top: 1.5rem; 
    padding-left: 30rem;
  }
}

@media screen and (min-width: 1600px) {

  .aboutViewHeading, .contactViewHeading {
    /* letter-spacing: 10px; */
    padding-left: 38rem;
  }

  .btnCntr {
    padding-left: 38.5rem;
  }
}

@media screen and (min-width: 1800px) {

  .aboutViewHeading, .contactViewHeading {
    /* letter-spacing: 10px; */
    padding-left: 52rem;
  }

  .btnCntr { 
    padding-left: 50.5rem;
  }
}