@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Titillium+Web:wght@600;700;900&display=swap');

html { scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: 'Montserrat'; 
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #161a1d;
  color: #fbfbfc;
  overflow-x: hidden;
  overflow-y: scroll;
}

.mainContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.menuBtn {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 45px;
  font-weight: 600;
  cursor: pointer;
  z-index: 9;
}

.menuBtn:hover, .closeNavBtn:hover {
  color: #fed557;
  transition: .1s linear;
}

.nav {
  position: absolute;
  top: -150%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(22, 26, 29, 1);
  opacity: 1;
  z-index: 9;
  overflow: hidden;
  outline: 1px solid #1e2428;
}

.bgTitle {
  position: absolute;
  color: #1e2428;
  height: 100vh;
  width: 100%;
  font-family: 'Titillium Web';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  pointer-events: none;
}

.bgTitle p {
  position: absolute;
  font-size: 12rem;
}

.bgTitle p:nth-child(1) { top: -16rem; }

.bgTitle p:nth-child(3) { bottom: -15.5rem; }

.closeNavBtn {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 45px;
  opacity: 1;
  cursor: pointer;
  text-shadow: 2px 2px 5px #161a1d, -2px -2px 5px #161a1d;
}

.icon {
  pointer-events: none;
}

.mainLogo {
  position: relative;
  bottom: 6rem;
  right: 50px;
  font-size: 35px;
  font-family: 'Titillium Web';
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  opacity: 0;
  letter-spacing: 2px;
  color: #fed557; 
}

.navItems {
  position: relative;
  bottom: 5rem;
  left: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-top: -20px;
  opacity: 0;
}

.navItems a {
  position: relative;
  right: 20px;
  font-size: 25px;
  width: 100%;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  color: #fbfbfc;
  cursor: pointer;
  padding: 15px 0px;
  text-decoration: none; 
}

.navItems a:hover {
  color: #fed557;
  outline: 2px solid #fed557; 
  transition: .1s linear;
}

.holderContainer {
  outline: 1px solid red;
  height: 100vh;
}

/* -- HOME VIEW STYLES  */

.homeView, .aboutView, .skillsView, .workView, .contactView {
  position: relative;
  width: 100%;
  height: 120%;
  display: flex;
  flex-direction: column;
}

.mainTxtBG {
  position: absolute;
  left: .8rem;
  top: 3rem;
  color: #2c343a;
  font-family: 'Titillium Web';
  font-size: 4.8rem;
  letter-spacing: 2px;
  font-weight: 800;
  text-shadow: 2px 2px 5px #161a1d, -2px -2px 5px #161a1d;
}

.homeView .mainTxtBG {
  font-size: 4.5rem;
  left: .4rem;
  opacity: 1;
}

.aboutView .mainTxtBG, .skillsView .mainTxtBG, .workView .mainTxtBG, .contactView .mainTxtBG { 
  color: #fed557; 
  z-index: 2;
  transform: translateX(-50);
}

.welcomeTxt-DetailsCntr {
  position: relative;
  top: 16rem;
  display: flex;
  flex-direction: column;
  font-family: 'Titillium Web';
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 1px;
}

.welcomeTxt {
  position: relative;
  bottom: 3.2rem;
  left: 1rem;
  width: 18.3rem;
  opacity: 0;
  text-shadow: 5px 5px 5px #161a1d, -5px -5px 5px #161a1d;
}

.welcomeTxt p:nth-child(1) { position: relative; }

.welcomeTxt p:nth-child(2) {
  position: relative;
  bottom: 4rem;
}

.homeViewDetails {
  position: relative;
  bottom: 14.5rem;
  left: 1rem;
  width: 18.3rem;
  opacity: 0;
  height: 6rem;
  color: #fed557;
  text-shadow: 5px 5px 5px #161a1d, -5px -5px 5px #161a1d;
}

.homeViewBtns {
  position: relative;
  top: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
} 

.viewWorkBtn, .contactMeBtn {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 18px 30px;
  text-align: center;
  color: #fbfbfc;
  text-decoration: none;
  outline: 3px solid white;
  cursor: pointer;
  margin-bottom: 20px;
}

.contactMeBtn {
  padding: 18px 28px;
}

.viewWorkBtn:hover, .contactMeBtn:hover, .projectBtnsCntr *:hover, .submitBtn:hover  {
  background: #fed557;
  outline: 2px solid #fed557 ;
  color:#2c343a;
  transition: .1s linear; 
}

.viewWorkBtn:active, .contactMeBtn:active, .projectBtnsCntr *:active, .submitBtn:active {
  background: none;
  color: white;
  transition: none;
}

.spiralCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
}


/* -- ABOUT VIEW STYLES -- */

.aboutView, .workView{
  height: 72rem;
  align-items: center;
}

.largeTtlBG {
  position: absolute;
  top: -4rem;
  left: 1rem;
  font-size: 11rem;
  font-family: 'titillium web';
  font-weight: 800;
  letter-spacing: 2px;
  color: #1e2428;
  z-index: 0;
}

.aboutTXT, .skillsViewText, .contactViewText {
  position: relative;
  top: 16rem;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  width: 17.8rem;
  z-index: 2;
  color: #b8b8b8;
  opacity: 0;
  transform: translateY(10);
}

.aboutTXT p:nth-child(2) { bottom: 2.2rem; }

.aboutTXT p:nth-child(3) { bottom: 3.2rem; }
       
.skillCanvas {
  position: relative;
  top: 18rem;
  height: 18rem;
  width: 19rem;
  opacity: 0;
  transform: translateX(20);
  transform: translateY(10);
}

/* -- SKILLS VIEW STYLES -- */

.skillsView {
  height: 130rem;
  align-items: center;
}

.skillsViewText {
  position: relative;
  top: 17rem;
}

.allSkillsCntr {
  position: relative;
  top: 19rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 98rem;
  width: 17.8rem;
  opacity: 0;
  transform: translateY(10);
}

.frontEndSkillsCntr, .backEndSkillsCntr, .databasesSkillsCntr, .toolsSkillsCntr, .learningSkillsCntr {
  position: relative;
  outline: 2px solid #c2c2c2;
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
}

.frontEndSkillsCntr:hover, .backEndSkillsCntr:hover, .databasesSkillsCntr:hover, .toolsSkillsCntr:hover, .learningSkillsCntr:hover {
  outline:2px solid #fed557;
  transition: .2s ease;
}

.frontEndSkillsCntr { height: 21.5rem; }

.backEndSkillsCntr { height: 28.5rem; }

.databasesSkillsCntr, .toolsSkillsCntr { 
  top: 2px;
  height: 14.2rem; } 

.learningSkillsCntr { height: 7.2rem; }

.indSkillsCntrBgText {
  font-size: 3rem;
  color:#38424a;
  font-weight: 800;
  position: absolute;
  top: -30px;
  left: 5px;
  z-index: 2;
}

.skillsObjsCntr {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto, 4rem);
  z-index: 3;
}

.techObj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  text-decoration: none;
  color: #c2c2c2;
}

.techObj:hover { color: #fff; }

.logo {
  position: relative;
  top: 10px;
  height: 3.2rem;
  width: 3.2rem;
  color: #c2c2c2;
  pointer-events: none; 
}

.techName {
  font-size: 19.8px;
  font-weight: 800;
}

#backEndObj, #toolsObj, #dbsObj, #learningObj, #frontEndObj {
  grid-column: span 3;
}

#backEndObj:nth-child(7), #toolsObj:nth-child(3), #dbsObj:nth-child(3), #frontEndObj:nth-child(5) {
  grid-column: span 6;
}

.workView {
  height: 175rem;
}

.projectsCntr {
  position: relative;
  top: 32rem;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indProject {
  position: relative;
  width: 17.5rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  box-shadow: 2px 2px 10px #0b0d0f, -2px -2px 10px #0b0d0f;
  overflow: hidden;
  opacity: 0;
  transform: translateY(10);
}

.indProject:last-child { margin-bottom: 0px; }

.projectTitle {
  position: absolute;
  font-family: 'Titillium Web';
  top: -20px;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 3px;
  text-align: center;
  padding: 2px 30px;
  color: #fed557;
  z-index: 3;
  transition: .1s linear;
}

.indProject:hover {
  outline: 1px solid #fed557;
  transition: .1s linear;
}

.indProject:hover .projectTitle {
  color: #fff;
  transition: .1s linear;
  z-index: 4;
}

.projectPixCntr {
  position: absolute;
  opacity: 1;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  width: 100%;

}

.projectPixShade, .projectPix {
  position: absolute;
  width: 100%;
  height: 100%;
}

.projectPixShade {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(22, 26, 29, .6);
  opacity: 0;
  z-index: 3;
}

.projectPix {
  display: block;
  background: #2c343a;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.projectPix.book { background-image: url('../src/images/BookFinder.PNG'); }

.projectPix.clock { background-image: url('../src/images/TimerLogo.PNG'); }

.projectPix.todoList { background-image: url('../src/images/TodoListLogo.PNG'); }

.projectPix.ticTacToe { background-image: url('../src/images/Tic-Tac-Toe.PNG'); }

.projectInfoCntr {
  position: absolute;
  bottom: -5px;
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.indProject:nth-child(1) .projectInfoCntr, .indProject:nth-child(3) .projectInfoCntr { transform: translateX(-100rem); }

.indProject:nth-child(2) .projectInfoCntr, .indProject:nth-child(4) .projectInfoCntr { transform: translateX(100rem); } 

.projectInfo {
  width: 90%;
  font-size: 15px;
}

.projectTechsCntr {
  width: 92%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.projectTech {
  height: 2rem;
  margin: 0px 3px;
  list-style: none;
  font-size: 14px;
  font-weight: 600;
}

.projectBtnsCntr {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.projectBtnsCntr * {
  font-size: 18px;
  font-weight: 600;
  padding: 6px 10px;
  outline: 1px solid white;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

/* ++|++ CONTACT VIEW ++|++ */

.contactView {
  align-items: center;
  height: 60rem;
}

.inputFieldsCntr {
  position: relative;
  top: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18.3rem;
  opacity: 0;
  transform: translateY(10);
}

.inputName, .inputEmail, .inputMessage, .submitBtn {
  width: 90%;
  height: 2.7rem;
  font-size: 19px;
  padding-left: 10px;
  background: #161a1d;
  color: #fff;
  border: none;
  outline: 2px solid #fff;
  margin-bottom: 30px;
  font-weight: 600;
}

.inputMessage {
  height: 5rem;
}

.submitBtn {
  width: 93.5%;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
}

::placeholder {
  color: #fff;
}


@media screen and (min-width: 400px) {
  .largeTtlBG {
    top: -7rem;
    font-size: 13rem;
  }

  .mainTxtBG, .homeView .mainTxtBG { font-size: 5.5rem; }
  
  .welcomeTxt-DetailsCntr { font-size: 3.2rem; }

  .aboutTXT, .skillsViewText, .allSkillsCntr, .contactViewText { width: 22rem; }

  .indProject {
    height: 28rem;
    width: 22rem;
  }

  .skillCanvas { 
    height: 21rem;
    width: 22rem;
  }

  .projectTitle {
    font-size: 35px;
    padding: 2px 35px;
  }

  .indSkillsCntrBgText { 
    left: 10px;
    font-size: 3.3rem;
  } 

  .projectInfo { font-size: 17px; }

  .projectTech { font-size: 15px; }

  .projectBtnsCntr * {
    font-size: 20px;
    padding: 8px 16px;
  }

  .inputFieldsCntr { width: 23rem; }
}

@media screen and (min-width: 600px) {
  
  .homeViewBtns { top: 10rem; }

  .viewWorkBtn, .contactMeBtn {
    font-size: 23px;
  }

  .largeTtlBG {
    top: -10rem;
    left: 5rem;
    font-size: 15rem;
  }

  .mainTxtBG, .homeView .mainTxtBG {
    top: 2.5rem;
    left: 1rem;
    font-size: 6rem;
  }

  .aboutView .mainTxtBG, .skillsView .mainTxtBG, .workView .mainTxtBG, .contactView .mainTxtBG { letter-spacing: 4px; }

  .welcomeTxt-DetailsCntr {
    left: 1.5rem;
    font-size: 3.5rem;
  }

  .welcomeTxt, .homeViewDetails { width: 32rem; }

  .aboutTXT, .skillsViewText, .contactViewText { width: 28rem; }

  .skillCanvas {
    height: 25rem;
    width: 28rem;
  }

  .indProject {
    width: 24rem;
    height: 30rem;
    margin-bottom: 50px;
  }
  
  .projectTitle { 
    font-size: 45px;
    padding: 2px 38px;
  }

  .projectInfo { font-size: 18px; }

  .projectTech { font-size: 16px; }

  .inputFieldsCntr { width: 29rem; }

  .inputName, .inputEmail, .submitBtn {
    height: 3.5rem;
    font-size: 21px;
  } 

  .inputMessage {
    height: 7rem;
    font-size: 21px;
  }

}

@media screen and (min-width: 800px) {

  .bgTitle p { font-size: 15rem; }

  .bgTitle p:nth-child(1) { top: -18rem; }

  .bgTitle p:nth-child(3) { bottom: -17.5rem; }

  .mainLogo { 
    bottom: 5.5rem;
    font-size: 40px; 
  }

  .navItems { bottom: 4rem; }

  .navItems li { font-size: 35px; }

  .largeTtlBG {
    top: -11rem;
    left: 6.5rem;
  }

  .mainTxtBG, .homeView .mainTxtBG {
    top: -1.5rem;
    left: 2rem;
    font-size: 7rem;
  }

  .welcomeTxt-DetailsCntr {
    top: 13rem;
    font-size: 4rem;
  }

  .welcomeTxt, .homeViewDetails { width: 40rem; }
  
  .homeViewDetails { bottom: 16rem; }

  .homeViewBtns { 
    top: 5rem;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .aboutTXT, .skillsViewText, .allSkillsCntr, .contactViewText, .indProject { width: 40rem; }

  .skillCanvas {
    height: 28rem;
    width: 30rem;
  }

  .allSkillsCntr {
    height: 48rem;
  }

  .frontEndSkillsCntr, .backEndSkillsCntr, .databasesSkillsCntr, .toolsSkillsCntr, .learningSkillsCntr {
    width: 49%;
  }

  .frontEndSkillsCntr { margin-right: 10px; }

  .backEndSkillsCntr { 
    order: 4; 
    margin-bottom: 43px;
  }  

  .learningSkillsCntr { order: 2; }

  .toolsSkillsCntr { order: 3; }

  .databasesSkillsCntr {
    order: 6;
  }

  .indProject { height: 25rem; }

  .projectTitle {
    top: -40px;
    font-size: 50px;
    padding: 2px 50px;
  }

  .projectInfo {
    font-size: 20px;
  }

  .projectTech {
    font-size: 18px;
  }

  .projectBtnsCntr {
    top: -2rem;
  }

  .projectBtnsCntr * {
    font-size: 22px;
    padding: 12px 30px; 
  }

  .inputFieldsCntr { width: 38rem; }

  .submitBtn { width: 92%; }
}

@media screen and (min-width: 1050px) {
  
  .aboutView { 
    flex-direction: row;
    justify-content: space-around;
  }

  .aboutView .mainTxtBG, .skillsView .mainTxtBG{
    font-size: 9rem;
  }

  .largeTtlBG {
    font-size: 17rem;
  }

  .workView .largeTtlBG, .contactView .largeTtlBG { 
    top: -14rem;
  }

  .aboutTXT {
    top: 0;
    width: 30rem;
  }

  .skillCanvas {
    top: 0;
    height: 25rem;
    width: 27rem;
  }

  .skillsViewText { 
    top: 25rem; 
    width: 42rem;
  }

  .allSkillsCntr { top: 30rem;}

  .indProject {
    width: 50rem;
    height: 26rem;
    flex-direction: row;
    justify-content: space-between;
    outline: 2px solid #1e2428;
    box-shadow: none;
    margin-bottom: 5rem;
  }

  .projectTitle {
    left: 14rem;
    top: 4rem; /* top: -2rem; */
    font-size: 4.5rem;
    background: none;
    z-index: 5;
    color: #fed557;
  }

  .indProject:hover .projectTitle {
    top: -3.5rem;
    transition: .1s linear;
  }

  .indProject:hover .projectPixCntr { z-index: 1;}

  .projectPixCntr {
    top: 7rem;
    left: 20px; 
    height: 50%;
    width: 45%;
  }

  .projectInfoCntr {
    right: 0px;
    top: 6.2rem;
    width: 70%;
    height: 55%;
  }

  .projectInfo {
    font-size: 17px;
    padding: 2px 5px;
  }

  .projectTech { font-size: 15px; }

  .projectBtnsCntr { top: -1.5rem; }

  .projectBtnsCntr * {
    font-size: 20px;
    padding: 8px 30px;
  }
}

@media screen and (min-width: 1300px) {
  
  .container {
    flex-direction: row;
    overflow: hidden;
  }

  .aboutView .mainTxtBG, .skillsView .mainTxtBG, .workView .mainTxtBG, .contactView .mainTxtBG { letter-spacing: 6px; }

  .nav {
    position: relative;
    top: 0;
    width: 20rem;
  }

  .bgTitle p { font-size: 13rem;}

  .bgTitle p:nth-child(1) { top: -14rem; }

  .bgTitle p:nth-child(3) { bottom: -13.5rem; }

  .mainLogo { 
    bottom: 4rem;
    font-size: 35px; 
  }

  .navItems li {
    bottom: -1rem;
    font-size: 28px; 
  }

  .menuBtn, .closeNavBtn {
    position: absolute;
    opacity: 0;
    pointer-events: none; 
  }

  .mainContainer {
    width: 100% - 20rem;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .mainContainer::-webkit-scrollbar { background: transparent; }

  .mainContainer::-webkit-scrollbar-thumb {
    background: #1e2428;
  }

  .mainLogo  {
    right: 0;
    opacity: 1;
  }

  .navItems {
    left: 0;
    opacity: 1;
  }
}

@media screen and (min-width: 1600px) {
  .nav { width: 30rem; }

  .mainContainer { width: 100% - 30rem; } 

  .largeTtlBG {
    font-size: 19rem;
    top: -15rem;
  }

  .workView .largeTtlBG, .contactView .largeTtlBG { 
    top: -18rem;
  }

  .skillCanvas {
    height: 30rem;
    width: 32rem;
  }

  .skillsView {
    height: 85rem;
    flex-direction: row;
    justify-content: space-around;
  }

  .skillsViewText {
    left: 30px;
    top: -10rem;
    width: 30rem;
  }

  .allSkillsCntr {
    top: 2rem;
  }

  .indProject {
    width: 56rem;
    height: 29rem;
  }

  .projectTitle {
    top: -3rem;
    font-size: 5rem;
  }

  .projectPixCntr {
    height: 52%;
    width: 45%;
  }

  .projectInfo { font-size: 18px; }

  .projectTech { font-size: 16px; }

}

@media screen and (min-width: 2000px) {
  .homeView .mainTxtBG {
    left: 5rem;
    font-size: 8rem;
  }

  .largeTtlBG {
    font-size: 21rem;
    top: -18rem;
    left: 17rem; 
  }

  .workView .largeTtlBG, .contactView .largeTtlBG { 
    top: -21rem;
  }

  .welcomeTxt-DetailsCntr {
    left: 5rem;
    font-size: 5rem;
  }

  .welcomeTxt, .homeViewDetails {
    width: 52rem;
  }

  .welcomeTxt p:nth-child(1) { top: 1rem; }

  .welcomeTxt p:nth-child(2) { bottom: 6rem; }

  .homeViewDetails { top: -21rem; }

  .viewWorkBtn, .contactMeBtn { font-size: 28px; }

  .skillCanvas {
    height: 36rem;
    width: 38rem;
  }

  .aboutView .mainTxtBG, .skillsView .mainTxtBG, .workView .mainTxtBG, .contactView .mainTxtBG {
    left: 8rem;
  }

  .aboutTXT, .skillsViewText, .contactViewText {
    font-size: 22px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 2400px) {
  .viewWorkBtn, .contactMeBtn { font-size: 32px; }
}