@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Titillium+Web:wght@600;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat'; 
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #161a1d;
  color: #f5f3f4;
  overflow-x: hidden;
  overflow-y: scroll;
  /* background: red; */
}

.mainContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.menuBtn {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 45px;
  font-weight: 600;
  cursor: pointer;
  z-index: 9;
  /* outline: 1px solid red; */
}

.menuBtn:hover, .closeNavBtn:hover {
  color: #bfc0c0;
  transition: .1s linear;
}

.nav {
  position: absolute;
  top: -150%;
  height: 100vh;
  width: 100vw;
  /* outline: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  background: rgba(22, 26, 29, .7);
  opacity: 1;
  z-index: 9;
  overflow: hidden;
}

.bgTitle {
  position: absolute;
  /* bottom: 4.5rem; */
  color: #2c343a;
  height: 100vh;
  width: 100%;
  font-family: 'Titillium Web';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  /* letter-spacing: 2px; */
  font-weight: 800;
  pointer-events: none;
  outline: 1px solid red;
}

.bgTitle p {
  position: absolute;
  font-size: 12rem;
  /* outline: 1px solid red; */
}

.bgTitle p:nth-child(1) { top: -16rem; }

.bgTitle p:nth-child(3) { bottom: -15.5rem; }

.closeNavBtn {
  position: absolute;
  top: 8px;
  right: 10px;
  /* left: -100px; */
  font-size: 45px;
  opacity: 1;
  cursor: pointer;
  text-shadow: 2px 2px 5px #161a1d, -2px -2px 5px #161a1d;
  /* background: red; */
}

.icon {
  pointer-events: none;
}

.mainLogo {
  position: relative;
  bottom: 6rem;
  right: 50px;
  font-size: 35px;
  font-family: 'Titillium Web';
  text-align: center;
  font-weight: 800;
  opacity: 0;
  letter-spacing: 2px;
  /* outline: 1px solid red; */
}

.navItems {
  position: relative;
  bottom: 5rem;
  left: 50px;
  width: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-top: -20px;
  opacity: 0;
  /* outline: 1px solid blue; */
}

.navItems li {
  position: relative;
  right: 20px;
  font-size: 25px;
  /* width: 22rem; */
  width: 116%;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  cursor: pointer;
  padding: 15px 0px; 
  /* outline: 1px solid red; */
}

.navItems li:hover {
  color: #fdfcdc;
  transition: .1s linear;
}

.holderContainer {
  outline: 1px solid red;
  height: 100vh;
}

/* -- HOME VIEW STYLES  */

.homeView, .aboutView, .skillsView, .workView, .contactView {
  position: relative;
  width: 100%;
  height: 115%;
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
  /* background: red; */
  /* justify-content: center; */
}

.mainTxtBG {
  position: absolute;
  left: .8rem;
  top: 3rem;
  color: #2c343a;
  /* height: 100%; */
  /* width: 100%; */
  font-family: 'Titillium Web';
  /* text-align: center; */
  font-size: 4.8rem;
  letter-spacing: 2px;
  font-weight: 800;
  text-shadow: 2px 2px 5px #161a1d, -2px -2px 5px #161a1d;
  /* outline: 1px solid red; */
}

.homeView .mainTxtBG {
  font-size: 4.5rem;
  left: .4rem;
}

.welcomeTxt-DetailsCntr {
  position: relative;
  top: 16rem;
  display: flex;
  flex-direction: column;
  font-family: 'Titillium Web';
  /* font-size: 30px; */
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 1px;
  /* outline: 1px solid red; */
}

.welcomeTxt {
  position: relative;
  bottom: 3.2rem;
  left: 1rem;
  width: 18.3rem;
  opacity: 0;
  text-shadow: 5px 5px 5px #161a1d, -5px -5px 5px #161a1d;
  /* font-size: 28px; */
  outline: 1px solid blue;
}

.welcomeTxt p:nth-child(2) {
  position: relative;
  bottom: 4rem;
  /* color: red; */
}

.homeViewDetails {
  position: relative;
  bottom: 14.5rem;
  left: 1rem;
  width: 18.3rem;
  opacity: 0;
  outline: 1px solid magenta;
  height: 6rem;
  text-shadow: 5px 5px 5px #161a1d, -5px -5px 5px #161a1d;
}

.homeViewBtns {
  position: relative;
  top: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  /* outline: 1px solid red; */
} 

.viewWorkBtn, .contactMeBtn {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 18px 30px;
  text-align: center;
  outline: 3px solid white;
  cursor: pointer;
}

.contactMeBtn {
  padding: 18px 28px;
}

.viewWorkBtn:hover, .contactMeBtn:hover, .projectBtnsCntr *:hover, .submitBtn:hover  {
  background: white;
  color:#2c343a;
  transition: .1s linear; 
}

.viewWorkBtn:active, .contactMeBtn:active, .projectBtnsCntr *:active, .submitBtn:active {
  background: none;
  color: white;
  transition: none;
}

.spiralCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  /* opacity: 0; */
  /* pointer-events: none; */
  margin: auto;
  /* z-index: 2; */
  /* outline: 1px solid magenta; */
}


/* -- ABOUT VIEW STYLES -- */

.aboutView, .workView{
  height: 72rem;
  align-items: center;
}

.aboutTXT, .skillsViewText, .contactViewText {
  position: relative;
  top: 16rem;
  /* left: 1rem; */
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  width: 17.8rem;
  /* outline: 1px solid red; */
}

.aboutTXT p:nth-child(2) { bottom: 2.2rem; }

.aboutTXT p:nth-child(3) { bottom: 3.2rem; }
       
.skillCanvas {
  position: relative;
  top: 18rem;
  /* left: 1rem; */
  height: 18rem;
  width: 19rem;
  outline: 1px solid red;
}

/* -- SKILLS VIEW STYLES -- */

.skillsView {
  height: 130rem;
  align-items: center;
  /* background: red; */
}

.skillsViewText {
  position: relative;
  top: 14rem;
}

.allSkillsCntr {
  position: relative;
  top: 15rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 98rem;
  width: 17.8rem;
  outline: 1px solid red;
}

.frontEndSkillsCntr, .backEndSkillsCntr, .databasesSkillsCntr, .toolsSkillsCntr, .learningSkillsCntr {
  position: relative;
  outline: 2px solid #fff;
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
}

.frontEndSkillsCntr { height: 21.5rem; }

.backEndSkillsCntr { height: 28.5rem; }

.databasesSkillsCntr, .toolsSkillsCntr { 
  top: 2px;
  height: 14.2rem; } 

.learningSkillsCntr { height: 7.2rem; }

.indSkillsCntrBgText {
  font-size: 3rem;
  color:#2c343a;
  /* font-family: 'Titillium Web'; */
  font-weight: 800;
  position: absolute;
  top: -30px;
  left: 5px;
  /* outline: 1px solid blue; */
  z-index: 2; /* 2 */
}

.skillsObjsCntr {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto, 4rem);
  /* height: 100%; */
  z-index: 3;
  /* background: gray; */
}

.techObj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* outline: 1px solid red; */
  /* background: red; */
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

/* #frontEndObj:nth-child(n + 3) {
  grid-column: span 2;
} */

.logo {
  position: relative;
  top: 10px;
  height: 3.2rem;
  width: 3.2rem;
  /* font-size: 10px; */
  color: #fff;
  /* outline: 1px solid blue; */
  pointer-events: none; 
}

.techName {
  font-size: 19.8px;
  font-weight: 800;
}

/* .backEndSkillsCntr {
  top: 7rem;
} */

#backEndObj, #toolsObj, #dbsObj, #learningObj, #frontEndObj {
  grid-column: span 3;
  /* padding: 0px 80px; */
}

#backEndObj:nth-child(7), #toolsObj:nth-child(3), #dbsObj:nth-child(3), #frontEndObj:nth-child(5) {
  grid-column: span 6;
  /* background: red; */
}

/* =+|+= WORK VIEW STYLES =+|+= */

.workView {
  height: 175rem;
}

.projectsCntr {
  position: relative;
  /* z-index: -1;  */
  top: 18rem; /* NORMALLY 16rem*/
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: gray; */
  outline: 1px solid red;
}

.indProject {
  position: relative;
  width: 17.5rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  box-shadow: 8px 8px 20px #0b0d0f, -8px -8px 20px #0b0d0f;
  overflow: hidden;
  /* outline: 2px solid #21272c; */
  /* background: rgba(255, 255, 255, .3); */
}

.indProject:last-child { margin-bottom: 0px; }

.projectTitle {
  position: absolute;
  font-family: 'Titillium Web';
  top: -20px;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 3px;
  text-align: center;
  padding: 2px 30px;
  color: #fff;
  background: #0b0d0f;
  /* text-shadow: 2px 2px 5px #161a1d, -2px -2px 5px #161a1d; */
  z-index: 3;
  transition: .1s linear;
}

.indProject:hover .projectTitle {
  background: none;
  transition: .1s linear;
}

.projectPixCntr {
  position: absolute;
  /* outline: 2px solid yellow; */
  opacity: 1;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  width: 100%;

}

.projectPixShade, .projectPix {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: blue; */
}

.projectPixShade {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(22, 26, 29, .6);
  opacity: 0;
  z-index: 3;
}

.projectPix {
  display: block;
  background: #2c343a;
  width: 100%;
  height: 100%;
  /* background-image: url('../src/images/BookFinder.PNG'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.projectPix.book { background-image: url('../src/images/BookFinder.PNG'); }

.projectPix.clock { background-image: url('../src/images/TimerLogo.PNG'); }

.projectPix.todoList { background-image: url('../src/images/TodoListLogo.PNG'); }

.projectPix.ticTacToe { background-image: url('../src/images/Tic-Tac-Toe.PNG'); }

.projectInfoCntr {
  position: absolute;
  bottom: -5px;
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  /* transform: translateX(-100px); */
  /* outline: 1px solid red; */
}

.indProject:nth-child(1) .projectInfoCntr, .indProject:nth-child(3) .projectInfoCntr { transform: translateX(-100rem); }

.indProject:nth-child(2) .projectInfoCntr, .indProject:nth-child(4) .projectInfoCntr { transform: translateX(100rem); } 

.projectInfo {
  width: 90%;
  font-size: 15px;
  /* font-weight: 600; */
  /* outline: 2px solid yellow; */
}

.projectTechsCntr {
  width: 92%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 2rem); */
  /* outline: 1px solid magenta; */
  text-align: center;
  /* background: red; */
}

.projectTech {
  /* margin-left: 20px; */
  height: 2rem;
  /* width: 4rem; */
  margin: 0px 3px;
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  /* outline: 1px solid red; */
}

.projectBtnsCntr {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* outline: 1px solid purple; */
}

.projectBtnsCntr * {
  font-size: 18px;
  font-weight: 600;
  padding: 6px 10px;
  outline: 1px solid white;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

/* ++|++ CONTACT VIEW ++|++ */


.contactView {
  align-items: center;
  height: 60rem;
}

.inputFieldsCntr {
  position: relative;
  top: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18.3rem;
  /* height: 80%; */
  /* outline: 1px solid red; */
  /* z-index: -1; */
}

.inputName, .inputEmail, .inputMessage, .submitBtn {
  width: 90%;
  height: 2.7rem;
  font-size: 19px;
  padding-left: 10px;
  background: #161a1d;
  color: #fff;
  border: none;
  outline: 2px solid #fff;
  margin-bottom: 30px;
  font-weight: 600;
}

.inputMessage {
  height: 5rem;
  /* backgroundred; */
}

.submitBtn {
  width: 93.5%;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
  /* background: red; */
}

::placeholder {
  color: #fff;
}


@media screen and (min-width: 400px) {
  .mainTxtBG, .homeView .mainTxtBG { font-size: 5.5rem; }
  
  .welcomeTxt-DetailsCntr { font-size: 3.2rem; }

  .aboutTXT, .skillsViewText, .allSkillsCntr, .contactViewText { width: 22rem; }

  .indProject {
    height: 28rem;
    width: 22rem;
  }

  .skillCanvas { 
    height: 21rem;
    width: 22rem;
  }

  .projectTitle {
    font-size: 35px;
    padding: 2px 35px;
  }

  .indSkillsCntrBgText { 
    left: 10px;
    font-size: 3.3rem;
  } 

  .projectInfo { font-size: 17px; }

  .projectTech { font-size: 15px; }

  .projectBtnsCntr * {
    font-size: 20px;
    padding: 8px 16px;
  }

  .inputFieldsCntr { width: 23rem; }
}

@media screen and (min-width: 600px) {
  
  .viewWorkBtn, .contactMeBtn {
    font-size: 23px;
  }

  .mainTxtBG, .homeView .mainTxtBG {
    top: 2.5rem;
    left: 1rem;
    font-size: 6rem;
  }

  .welcomeTxt-DetailsCntr {
    left: 1.5rem;
    font-size: 3.5rem;
    outline: 1px solid red;
  }

  .welcomeTxt, .homeViewDetails { width: 32rem; }

  .aboutTXT, .skillsViewText, .contactViewText { width: 28rem; }

  .skillCanvas {
    height: 25rem;
    width: 28rem;
  }

  .indProject {
    width: 24rem;
    height: 30rem;
    margin-bottom: 50px;
  }
  
  .projectTitle { 
    font-size: 45px;
    padding: 2px 38px;
  }

  .projectInfo { font-size: 18px; }

  .projectTech { font-size: 16px; }

  .inputFieldsCntr { width: 29rem; }

  .inputName, .inputEmail, .submitBtn {
    height: 3.5rem;
    font-size: 21px;
  } 

  .inputMessage {
    height: 7rem;
    font-size: 21px;
  }

}

@media screen and (min-width: 800px) {

  .bgTitle p { font-size: 15rem; }

  .bgTitle p:nth-child(1) { top: -18rem; }

  .bgTitle p:nth-child(3) { bottom: -17.5rem; }

  .mainLogo { 
    bottom: 5.5rem;
    font-size: 40px; 
  }

  .navItems { bottom: 4rem; }

  .navItems li { font-size: 35px; }

  .mainTxtBG, .homeView .mainTxtBG {
    top: -1.5rem;
    left: 2rem;
    font-size: 7rem;
  }

  .welcomeTxt-DetailsCntr {
    top: 13rem;
    font-size: 4rem;
  }

  .welcomeTxt, .homeViewDetails { width: 40rem; }
  
  .homeViewDetails { bottom: 16rem; }

  .homeViewBtns { 
    top: 5rem;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .aboutTXT, .skillsViewText, .allSkillsCntr, .contactViewText, .indProject { width: 40rem; }

  .skillCanvas {
    height: 28rem;
    width: 30rem;
  }

  .allSkillsCntr {
    height: 60rem;
  }

  .frontEndSkillsCntr, .backEndSkillsCntr, .databasesSkillsCntr, .toolsSkillsCntr, .learningSkillsCntr {
    width: 49%;
  }

  .frontEndSkillsCntr { margin-right: 10px; }

  .backEndSkillsCntr { 
    order: 4; 
    margin-bottom: 43px;
  }  

  .learningSkillsCntr { order: 2; }

  .toolsSkillsCntr { order: 3; }

  .databasesSkillsCntr {
    /* height: 15.5rem; */
    order: 6;
  }

  .projectTitle {
    top: -40px;
    font-size: 50px;
    padding: 2px 50px;
  }

  .projectInfo {
    font-size: 22px;
  }

  .projectTech {
    font-size: 20px;
  }

  .projectBtnsCntr {
    top: -2rem;
  }

  .projectBtnsCntr * {
    font-size: 24px;
    padding: 12px 30px; 
  }

  .inputFieldsCntr { width: 38rem; }
}

@media screen and (min-width: 1050px) {
  
  .aboutView { 
    flex-direction: row;
    justify-content: space-around;
  }

  .aboutView .mainTxtBG, .skillsView .mainTxtBG{
    font-size: 10rem;
  }

  .aboutTXT {
    top: 0;
    width: 30rem;
  }

  .skillCanvas {
    top: 0;
    height: 25rem;
    width: 27rem;
  }

  .skillsViewText { 
    top: 25rem; 
    width: 42rem;
    /* outline: 1px solid red; */
  }

  .allSkillsCntr { top: 30rem;}

  .indProject {
    width: 55rem;
    height: 30rem;
    flex-direction: row;
    justify-content: space-between;
    /* outline: 2px solid red; */
    box-shadow: 2px 2px 5px #0b0d0f, -2px -2px 5px #0b0d0f;
  }

  .projectTitle {
    left: 14rem;
    top: -3rem;
    font-size: 5rem;
    background: none;
    z-index: 1;
    color: #fff;
  }

  .indProject:hover .projectTitle {
    color: #38424a;
    transition: .1s linear;
  }

  .projectPixCntr {
    top: 7rem;
    left: 20px; 
    height: 45%;
    width: 40%;
  }

  .projectInfoCntr {
    right: 0px;
    top: 6.2rem;
    width: 70%;
    height: 55%;
    /* outline: 1px solid magenta; */
  }

  .projectInfo {
    font-size: 17px;
    padding: 2px 5px;
    /* background:#2c343a; */
    /* outline: 1px solid blue; */
  }

  .projectTech { font-size: 15px; }

  .projectBtnsCntr { top: -1.5rem; }

  .projectBtnsCntr * {
    font-size: 20px;
    padding: 8px 30px;
  }
}

@media screen and (min-width: 1300px) {
  
  .container {
    flex-direction: row;
    overflow: hidden;
  }

  .nav {
    position: relative;
    top: 0;
    /* width: 25%; */
    width: 20rem;
  }

  .menuBtn, .closeNavBtn {
    position: absolute;
    opacity: 0;
    pointer-events: none; 
  }

  .mainContainer {
    /* left: 20rem;  */
    width: 100% - 20rem;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .mainLogo  {
    right: 0;
    opacity: 1;
  }

  .navItems {
    left: 0;
    opacity: 1;
  }
}